@media (max-width:480px){#logo{position:absolute;display:inline-block;width:120px;height:auto;}
#position h3{margin-top:0;}
#hotline{position:absolute;top:5px;right:94px;font-weight:600;font-size:30px;color:#fff;text-decoration:none;}
.slider-item .title{position:absolute;top:120px;left:20px;width:200px;height:auto;}
.slider-item .description{position:absolute;top:190px;left:10px;width:300px;height:auto;}
#about{min-height:797px;}
#about h2{font-size:30px;}
#about h2 span{font-size:40px;}
#about .description{margin-left:15px;}
#about .ab-block{margin-top:20px;margin-bottom:20px;}
.total-item .top{font-size:22px;}
.total-item .bottom{font-size:12px;}
.photo-item .photo-item-right .p,
.photo-item .photo-item-left .p{padding-left:30px;padding-right:15px;padding-top:15px;padding-bottom:15px;}
.photo-item .top{font-size:16px;}
.photo-items .title{top:10px;left:50%;width:320px;height:85px;}
.photo-items .controls .next{width:60px;height:60px;line-height:60px;}
.photo-items .controls .prev{width:60px;height:60px;line-height:60px;}
.block{width:440px;height:280px;position:absolute;top:650px;}
#news h3{margin-top:0}
#reason h3{margin-top:0;}
#reason.detail h3{margin-top:70px;}
#reason .photo{margin-top:80px}
#news-blocks{min-height:1460px;}
.news-block{padding-left:25px;padding-right:25px;margin-top:15px;margin-bottom:15px;}
.news-block .title{margin-top:10px;margin-bottom:10px;}
#news-blocks h3{margin-top:30px;margin-bottom:30px;}
#footer{min-height:464px;}
.footer-bottom{min-height:124px;}
.social{margin-top:30px;}
#footer h4{margin-bottom:20px;margin-top:20px;}
.bread-crumb{margin-top:120px;margin-bottom:40px;}
#host .item{padding-top:20px;padding-bottom:20px;}
#host .host-block{margin-bottom:50px;}
#contact{min-height:1230px;}
.google-maps{margin-bottom:20px}
#timeline{min-height:1328px;}
#position-introdution .photo{text-align:center;}
#position-introdution{min-height:796px;}
.value-top-content{width:100%;}
#position-introdution .photo{margin-top:50px;margin-bottom:50px}
#introdution .list{margin-top:50px;margin-bottom:50px;margin-left:15px;}
#position.detail h3{margin-top:70px;}
.lb-caption div{font-size:15px;padding:20px;}
.read-detail{font-size:18px;}
#fullpage .section, .fp-tableCell{height:100%!important;}
#position h3{margin-top:0;}
#news h3{margin-top:0;}
.scroll-element_outer:after {background: #c9cbcf;}
}
@media (max-width:340px){#logo{position:absolute;display:inline-block;width:120px;height:auto;}
#hotline{position:absolute;top:5px;right:65px;font-weight:600;font-size:16px;color:#fff;text-decoration:none;}
.slider-item .title{position:absolute;top:120px;left:20px;width:200px;height:auto;}
.slider-item .description{position:absolute;top:190px;left:10px;width:300px;height:auto;}
#about{min-height:797px;}
#about h2{font-size:30px;}
#about h2 span{font-size:40px;}
#about .description{margin-left:15px;}
#about .ab-block{margin-top:50px;margin-bottom:50px;}
.total-item .top{font-size:22px;}
.total-item .bottom{font-size:12px;}
.photo-item .photo-item-right .p,
.photo-item .photo-item-left .p{padding-left:15px;padding-right:15px;padding-top:15px;padding-bottom:15px;}
.photo-item .top{font-size:20px;}
.photo-items .title{top:10px;left:50%;width:320px;height:85px;}
.photo-items .controls .next{width:60px;height:60px;line-height:60px;}
.photo-items .controls .prev{width:60px;height:60px;line-height:60px;}
.block{width:320px;height:280px;position:absolute;top:650px;}
#news h3{margin-top:73px}
#reason h3{margin-top:230px;}
#reason .photo{margin-top:80px}
#news-blocks{min-height:1460px;}
.news-block{padding-left:25px;padding-right:25px;margin-top:15px;margin-bottom:15px;}
.news-block .title{margin-top:10px;margin-bottom:10px;}
#news-blocks h3{margin-top:30px;margin-bottom:30px;}
#footer{min-height:464px;}
.footer-top{min-height:327px;}
.footer-bottom{min-height:124px;}
.social{margin-top:30px;}
#footer h4{margin-bottom:20px;margin-top:20px;}
.navbar .navbar-gem{transform:translateY(-100%);-webkit-transform:translateY(-100%);-moz-transform:translateY(-100%);-o-transform:translateY(-100%);opacity:0;transition:all 0.3s ease;}
.bread-crumb{margin-top:120px;margin-bottom:20px;}
#host .item{padding-top:20px;padding-bottom:20px;}
#host .host-block{margin-bottom:20px;}
#house{min-height:980px;}
#furniture-detail{min-height:1725px;}
#library{min-height:988px;}
#timeline{min-height:1328px;}
#position-introdution .photo{text-align:center;}
#position-introdution{min-height:796px;}
.photo-items .controls .next, .photo-item .slick-next{width:50px;height:50px;bottom:50px;}
.photo-items .controls .prev, .photo-item .slick-prev{width:50px;height:50px;}
.photo-item .top{font-size:16px;}
.value-top-content{width:100%;}
#position-introdution .photo{margin-top:50px;margin-bottom:50px}
#introdution .list{margin-top:50px;margin-bottom:50px;margin-left:15px;}
.read-detail{font-size:12px;}
.lb-caption div{font-size:15px;padding:20px;}
#house .description .info{padding-right:0px;}
.row-eq-height{display:block;}
.row-eq-height .vertical-center{top:0px;-webkit-transform:translateY(0%);-ms-transform:translateY(0%);transform:translateY(0%);}
.value-content .item .item-content{padding-left:30px;}
.value-content .item.item-right .item-content{padding-right:30px;}
.value-content .item{background-size:100%;padding-top:calc(100vw * 679/1240);background-position:center top;}
section h3 {font-size: 18px;}
#footer h4 {    font-size: 16px !important;}
#footer button {    padding: 5px 6px;    font-size: 13px;}
.footer-bottom{padding-left:0px; padding-right:0px}
.block .title {font-size: 16px !important;padding: 10px 15px 10px 15px !important;}
.homepage section#reason h3, section#reason h3,.page-about #reason.detail h3, .page-about #reason h3{font-size: 17px !important; left:0px}
 
.news-block .title a {font-size: 15px;}
.navbar .navbar-gem.active {opacity: 1;}




}