#about h2{font-size:40px;}
#about h2 span{font-size:50px;}margin-left:45px;}
#about.detail .ab-block{margin-top:30px;margin-bottom:0;}
@media screen and (min-width:1680px){
.container{width:1170px;}
.homepage .photo-item .item .p{margin-top:0px;background:none}
#hotline{right:94px !important;}
.scroll-down{width:74px;height:73px;line-height:73px;}
.box li{width:77px;height:70px;}
#main-menu .navbar-nav a{padding:15px 24px;}
#logo{position:absolute;top:0;left:50px;width:auto;height:auto;}
#logo img{width:100%}
.homepage .photo img{max-height:100%;}
.homepage #about .fp-tableCell{display:block}
.homepage #about .ab-block{margin-top:140px}
#about:before{background-size:100%;width:256px;height:100%;background-position:0px 122px;}
.photo-items .title{top:90px;left:50%;width:400px;height:100px;}
.modal.in .modal-dialog{-webkit-transform:translate(0, 50%);-ms-transform:translate(0, 50%);-o-transform:translate(0, 50%);transform:translate(0, 50%);}
section h3{font-size:30px;left:50%;}
section h3:after{width:112px;height:1px;bottom:-20px;left:50%;}
.photo-items .controls .next,
.photo-item .slick-next{width:85px;height:85px;line-height:85px;font-size:32px;position:absolute;bottom:95px;left:50%;}
.photo-items .controls .prev,
.photo-item .slick-prev{width: 85px;height: 85px;line-height: 85px;font-size:32px;left:50%;bottom:0px;}
.photo-item .photo-item-right .p, .photo-item .photo-item-left .p{padding-left:120px;padding-right:60px;}
.homepage .photo-item .photo-item-right .p, .homepage .photo-item .photo-item-left .p{padding-left:60px /*duy*/;padding-right:60px;padding-top:10px;padding-bottom:0px;    text-align: center; /*duy*/}
.photo-item:after{height:90%;}
#util.detail .photo-item:after{height:86%;}
#util.detail .photo-items .controls .next, .photo-item .slick-next{bottom:147px;}
#util.detail .photo-items .controls .prev, .photo-item .slick-prev{bottom:62px;}
#util.detail .slick-slide .p{padding-left:115px;}
.a-block ul{margin-bottom:70px;}
.homepage #util.detail .photo-items .controls .next, .homepage .photo-item .slick-next{bottom:137px;}
.homepage #util.detail .photo-items .controls .prev, .homepage .photo-item .slick-prev{bottom:52px;}
.new-b{margin-top:50px;}
#reason .photo img{width:auto}
.page-about #reason{min-height:972px;}

section h2, #about.detail h5, .page-title{font-size:30px;}
.page-about #total.detail{margin-top:119px /*DUy*/;position:relative;}
.page-about .photo img{width:auto;right:0px;}
#host .item{padding-top:50px;padding-bottom:50px;}
#host .host-block{margin-bottom:100px;}
.nav > li > a{padding:15px 25px;}
.navbar .navbar-nav{float:none}
.slider-item .title{position:absolute;top:127px;left:500px;}
.slider-item .description{font-size: 45px;top: 140px;left:300px;}
#about,#about.detail{min-height:797px;}
#about .block{margin-top:99px;}
.total-item {
    padding: 10px 0px;
}
.total-item .top{font-size:38px;line-height: 43px;}
.total-item .bottom{font-size:18px;}
#introdution .list{margin-top:171px;margin-left:18px;}
#footer{min-height:464px;}
#footer h4{font-size:24px;}
.footer-top{min-height:327px;}
.footer-bottom{min-height:124px;}
.social{margin-top:30px;}
#news-blocks{min-height:1090px;}
.news-block{padding-left:25px;margin-top:50px;padding-right:25px;}
#news-blocks h3{margin-top:75px;}
#news h3{margin-top:73px}
.block{width:718px;height:300px;position:absolute;}
#furniture .block .scroll-wrapper.content .scroll-content{padding:0px 25px 15px 15px !important;background-image:none}
.bread-crumb{margin-top:65px;margin-bottom:70px}
#position-introdution .photo{text-align:right;margin-top:65px;}
#position-introdution{min-height:796px;}
#introdution{min-height:1049px;}
#furniture-detail{min-height:1725px;}
.google-maps{margin-bottom:70px}
#timeline{min-height:1328px;}
#house{min-height:986px;}
#position .position-photo img{height:100%;}
#library .photo-gallery .slick-prev{left:462px;}
#library .photo-gallery .slick-next{right:462px;}
#library .photo-gallery button{width:57px;height:61px;}
#library .slick-slide .title{font-size:18px;padding:10px 60px;top:37px;}
#library .slick-slide .title:before{left:45px;}
.lb-caption div{font-size:35px;padding:25px;top:-40px;left:35px;}
.lightbox .lb-nav a.lb-next{width:60px;height:60px;bottom:60px;}
.lightbox .lb-nav a.lb-prev{width:60px;height:60px;}
.lightbox .lb-loader .lb-cancel:before{font-size:40px;}
	.photo-item .top {
		padding: 5px 0px 5px 40px;
	}
	.homepage section#reason h3,section#reason h3 {
		top: 134px !important;
		left:30px !important
	}
	.homepage section#reason h3 span,section#reason h3 span {
		margin-left: -201px !important;
		font-size: 76px !important;
		line-height: 90px !important;
	}
	.page-about #reason .photo img {
		max-width: 100%;
	}
	.value-content .item .col-sm-6 {
		width: 50%;
	}
	#value #valueContent .scrollbar-inner {
		height: 285px;
	}
	.value-content .item .item-content {
		padding-left: 40% !important;
	}
	.value-content .item {
		padding: 176px 0px;
	}
	.value-content .item.item-right .col-sm-6 {
		float: left;
		    
	}
	.value-content .item.item-right .col-sm-6 .item-content{padding-left: 7% !important;padding-right: 40%;}
	.value-content .item.item-right .scroll-wrapper > .scroll-content {
		padding-left: 0px;
	}
	.homepage #about h3{margin-top:80px !important;}
	#contact .tuvan{margin-top:30px}
	#contact .tuvan a{background:#219bd4 url('../images/tu-van-vien.png')15px center no-repeat; font-size: 20px; padding: 5px 20px 5px 54px;border: 1px solid #4fc7ff;-webkit-box-shadow: 2px 3px 5px -1px rgba(0,0,0,0.75);-moz-box-shadow: 2px 3px 5px -1px rgba(0,0,0,0.75);box-shadow: 2px 3px 5px -1px rgba(0,0,0,0.75);}


}
@media screen and (min-width:1440px) and (max-width:1600px){#hotline{right:30px;}
.slider-item .description{top:160px;left:230px;font-size:31px;}
.homepage .photo img{max-height:100%}
.homepage .photo-item .item .p{margin-top:0px;background:none}
.photo-item:after{height:90%;}
.homepage .block{top:472px;}
.page-about .photo img{

	/* sữa full-widht */
	width:100%;
	/* padding-left: 100px; */
	padding-top: 40px;
	right:-49px;position:relative;}
#total.detail{position:relative;margin-top:35px;}
.value-content .item .gutter-0 .item-content{padding-left:10% !important;}
.value-content .item.item-right .gutter-0 .item-content{padding-left:20px !important;}
.value-content .item.item-right .item-content{padding-right:10% !important;}
#util.detail .photo-items .controls .next, .photo-item .slick-next{bottom:117px;}
#util.detail .photo-items .controls .prev, .photo-item .slick-prev{bottom:52px;}
#news-blocks-detail h1{font-size:27px !important;margin-top:60px !important;}
#news-blocks-detail.detail .post-content strong, #news-blocks-detail.detail .post-content b, #news-blocks-detail.detail .post-content h2, #news-blocks-detail.detail .post-content h3, #news-blocks-detail.detail .post-content h4, #news-blocks-detail.detail .post-content h5, #news-blocks-detail.detail .post-content h6{font-size:17px;}
	.homepage .photo img {
		max-height: 100%;
	}
	.homepage section#reason h3 span {
		display: block;
		margin-left: -174px;
		font-size: 65px;
		line-height: 65px;
	}
	.homepage section#reason h3 {
		left: 0px !important;
		top: 107px;
	}
}
@media screen and (min-width:1400px){#about h2{font-size:60px;}
#about h2 span{font-size:70px;}
#about.detail:before{left:0px;width:256px;}
.photo img,.homepage .photo img{max-height:100%}
.social li a{width:43px;height:43px;line-height:43px;}
#news-blocks-detail h1{font-size:33px;margin-top:80px;}
.news-block .title{font-size:18px;}
.timeline{margin-top:50px}
.containertime .title{font-size:18px;}
.homepage section#reason h3 {
		left: 0px ;
		top: 107px;
	}
.homepage section#reason h3 span {
		display: block;
		margin-left: -134px;
		font-size: 65px;
		line-height: 65px;
	}
	.homepage #about .ab-block .photo img {
		margin-top: 0px;
	}
}
@media (min-width:992px){#logo{position:absolute;display:inline-block;height:auto;}
.navbar .navbar-nav{float:right}
#news .photo{height:400px;}
#news .photo img{margin:0 auto;height:100%}
#news h3{margin-top:70px}
#footer{min-height:464px;}
.footer-top{min-height:327px;}
.footer-bottom{min-height:124px;}
.social{margin-top:30px;}
.navbar .navbar-gem{background:none;opacity:1;transform:translateY(0);}
#host .item{padding-top:20px;padding-bottom:20px;}
#host .host-block{margin-bottom:50px;}
#house{min-height:768px;}
#furniture-detail{min-height:1725px;}
#timeline{min-height:1390px;    }
#position-introdution .photo{text-align:right;}
.value-top-content{width:939px;}
}
@media (min-width:1200px){.navbar .navbar-nav{float:none}
#hotline{position:absolute;top:10px;right:15px;font-weight:600;font-size:20px;color:#fff;text-decoration:none;}
#house .description .info{padding-right:55px;margin-top:10px;}
.value-content .item .item-content{padding-left:10%;}
.value-content .item.item-right .item-content{padding-right:10%;}
.value-content .item{background-size:auto;}
/**/}
@media (min-width:1300px){#header .container{width:1270px;}
.navbar .navbar-nav{float:none}
#hotline{position:absolute;top:10px;right:30px;font-weight:600;font-size:20px;color:#fff;text-decoration:none;}
.paging{bottom:0;}
}
@media screen and (min-width:1400px){.paging{bottom:0;}
#library .slick-slide .title{font-size:18px;}
.container{width:1170px;}
.navbar .navbar-nav{float:none}
#hotline{position:absolute;top:2px;font-weight:600;font-size:30px;color:#fff;text-decoration:none;}
#position h3,#about h3{margin-top:70px;}
.homepage #about h3{margin-top:-90px;}
#news .photo{height:auto;}
#news .photo img,.homepage #news .photo img{margin:0 auto;height:100%}
#position .position-photo{height:auto;}
#introdution .photo{height:auto;}
.value-content .item .item-content{padding-left:10%;}
.value-content .item.item-right .item-content{padding-right:10%;}
}
@media screen and (max-width:1280px){#logo{left:20px;}
#logo img{width:138px;}
#fp-nav ul li, .fp-slidesNav ul li{width:12px !important;height:12px !important;margin:6px 0px !important;}
.slider-item .title{position:absolute;top:109px;left:258px;}
.slider-item .title img{max-width:284px;}
.slider-item .description{top:160px;left:180px;font-size:30px;}
#about h5{font-size:16px;margin-top:15px;}
#about h5:before{top:-12px;}
#about .ab-block h2{margin-top:22px;margin-bottom:23px;font-size:37px;}
#about h2 span{font-size:44px;}
#about .description{margin-left:35px;}
.total-item .top{font-size:25px;text-align:center;padding:0;margin:0;}
.total-item .bottom{font-size:15px;}
.photo-items .title{top:73px;width:295px;height:62px;}
.photo-items .title h3{margin-top:15px;font-size:21px;}
.homepage #util.detail .photo-items .controls .next, .photo-item .slick-next{bottom:110px;}
.homepage #util.detail .photo-items .controls .prev, .photo-item .slick-prev{bottom:45px;}
#util.detail .photo-item:after{height:84%;}
#util.detail .photo-items .controls .next, .photo-item .slick-next{bottom:103px;}
#util.detail .photo-items .controls .prev, .photo-item .slick-prev{bottom:48px;}
.homepage .photo-item .item .p{margin-top:-40px;background:url(../images/bg-slick-list-ulti.jpg) center bottom no-repeat;padding-right:30px;}
	.photo-item .top {font-size: 18px;}
	.photo-items .controls .prev, .photo-item .slick-prev,.photo-items .controls .next, .photo-item .slick-next {
    width: 55px;
    height: 55px;
    line-height: 55px;
	font-size: 28px;
}
.block .content{padding:20px 25px;}
.block .title{font-size:20px;padding:10px 20px 10px 20px;}
.block{top:331px;}
.page-about .photo img{right:-55px;}
#about.detail{min-height:614px;}
#util.detail .description #shortDesc{margin-left:35px;}
.homepage section#reason h3 span {
    margin-left: 0;
    font-size: 35px;
    line-height: 48px;
}

.homepage .photo img {
    max-height: 556px;
}
#contact .tuvan a {
    background: #219bd4 url(../images/tu-van-vien.png)13px center no-repeat;
    font-size: 15px;
    padding: 5px 20px 5px 42px;
    background-size: 19px;
}
}
@media screen and (min-width:992px) and (max-width:1199px){#main-menu .navbar-nav a{padding:15px 11px;font-size:15px;}
.slider-item .description{top:153px;left:130px;}
.slider-item .title{top:106px;left:228px;}
header #hotline{position:fixed;right:0px;top:57px;background:#0b4d94;font-size:21px;vertical-align:middle;padding:0px 15px;border-top-left-radius:15px;border-bottom-left-radius:15px;line-height:44px;}
header #hotline i{font-size:35px;margin-right:8px;vertical-align:middle;}
/* .total-item{padding:10px 5px;} */
#about h3 {
    margin-top: -82px;
}
.page-about .photo img{right:15px;}
/* width:calc(100vh - 15px); */
	.homepage section#reason h3, section#reason h3 {
		top: 89px;
	}
		.page-about #reason .photo img {
			padding-bottom: 0px;
		}
#utilitiesslide.photo-item{margin-top:0px}
.photo-item{margin-top:50px;}
.photo-items .title{top:32px;width:295px;height:62px;}
.homepage .photo-item:after{height:82%;}
.homepage #util.detail .photo-items .controls .next, .homepage .photo-item .slick-next{bottom:103px;}
.homepage #util.detail .photo-items .controls .prev, .homepage .photo-item .slick-prev{bottom:48px;}
.homepage #util.detail .photo-items .controls .prev, .photo-item .slick-prev{bottom:98px;}
.homepage .photo-item .item .p{margin-top:0px;background:none;padding-right:0px;}
#util.detail .description{margin:45px 0 25px;}
.block{top:416px;}
#about.detail{min-height:648px;}
#host .host-block .item img{max-width:184px;}
.value-content .item-wrapper{padding:50px 0px 0px;}
.value-content .item{padding:229px 0px;}
.value-content{padding-bottom:50px;}
#position-introdution .photo{margin-top:90px;}
#introdution .list{margin-top:87px;margin-left:20px;}
#util.detail #utilitiesslide{padding-bottom:0px;}
#util.detail #utilitiesslide .slick-slide .p{padding-bottom:0px;padding-top:0px;}
#util.detail #utilitiesslide .photo-item .top,#util.detail #utilitiesslide .slick-list .top{padding:11px 0px 10px;}
#timeline .photo{overflow:hidden;}
.lightbox .lb-loader{right:0px;}
#library .photo-gallery .slick-prev{left:178px;}
#library .photo-gallery .slick-next{right:178px;}
#util.detail #utilitiesslide.photo-items .controls .next, #util.detail #utilitiesslide.photo-item .slick-next{bottom:132px;}
#util.detail #utilitiesslide.photo-items .controls .next, #util.detail #utilitiesslide.photo-item .slick-prev{bottom:77px;}
.footer-bottom{min-height:106px;}
.social{margin-top:21px;}
.tab_left_f{width:62%}
.tab_right_f{width:38%}
.tab_rnone{display:none;}
.tab_rnone2{width:100%;padding-right:20px;}
.captcha-image{display:block;margin-top:10px;}
#footer h4{font-size:20px;}
.device-col2{padding-left:35px;}
.homepage .block{top:432px;}
.homepage .photo img {
    max-height: 100%;
	width:calc(100% - 30px)
}
.blacklist {
    top: 108px;
}
.register {
	/* top: 150px; */
	top: 110px;
}
}